.wrap{background: var(--secondary-color);}

.pgroup{position: fixed; top: 0; left:0; width: 100vw; height: 100vh; background: var(--secondary-color);}
.pgroup p{position: absolute; top:11vw; transform: translateY(-50%); left:5.208333333333333vw; opacity: 0; font-size: max(4rem,6.052083333333333vw); color:#fff; transition-duration: .4s;}
.pgroup p:nth-child(3){top:50%;}
.pgroup p.active{animation: fadeInUp 1s both;}
.pgroup p:nth-child(3).active{animation: fadeInUp2 1s both;}
.pgroup p:nth-child(2) em{display: block; line-height: 0.9;}

section{color:#fff; min-height: 100vh; display: flex; align-items: center;}
section~section{margin-top: 15vw;}

.inner{padding-left: 51.1875vw; padding-right:10.416666666666666vw;}

.active .viewItem{animation: copyFadeIn 1s both;}

.section01 p{font-size: max(1.6rem, 2.1875vw); line-height: 1.4;}
.section01 p~p{margin-top: 3.6458333333333335vw;}
.section01 p:last-of-type.viewItem{ animation-delay: .1s;}

.section02 li{display: flex; gap: 0 1.9791666666666667vw;}
.section02 li~li{margin-top: 5.729166666666667vw;}
.section02 time{font-size: max(1.4rem, 1.0416666666666667vw); margin-top: 0.78125vw;}
.section02 em{display: block; font-size: max(1.7rem, 1.9791666666666667vw); margin-bottom: 0.5208333333333334vw;}
.section02 i{font-size: max(1.3rem, 1.1458333333333333vw); opacity: .5;}
.section02 li:nth-child(2){animation-delay: .2s;}
.section02 li:nth-child(3){animation-delay: .4s;}

.section03 p{font-size: max(1.6rem, 1.9791666666666667vw);}


@keyframes fadeInUp {
    0% { transform: translateY(60px); opacity: 0;}
    100% { transform: translateY(0); opacity: 1;}
}

@keyframes fadeInUp2{
    0% { transform: translateY(calc(-50% + 60px)); opacity: 0;}
    100% { transform: translateY(-50%); opacity: 1;}
}

@keyframes copyFadeIn {
    0% { transform: translateY(100px); }
    100% { transform: translateY(0)  }
    }




@media screen and (max-width:767px){ 
	/* Mobile */

    .pgroup p{bottom:25px !important; left:25px; top:initial !important;}
    .pgroup p:nth-child(3).active{animation: fadeInUp 1s both;}

    .inner{padding: 0 25px; width: 90%; margin: -20px auto 0 auto;}

    .section02 li{gap:0 40px}

    .section03 p{text-align: center;}

}
  