@charset "utf-8";

@font-face {
	font-family: 'SUIT';
	font-weight: 300;
	src:local(※), url(../font/SUIT-Light.woff2) format('woff2'),
    url(../font/SUIT-Light.ttf) format('truetype');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 400;
	src:local(※), url(../font/SUIT-Regular.woff2) format('woff2'),
    url(../font/SUIT-Regular.ttf) format('truetype');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 500;
	src:local(※), url(../font/SUIT-Medium.woff2) format('woff2'),
    url(../font/SUIT-Medium.ttf) format('truetype');

}
@font-face {
	font-family: 'SUIT';
	font-weight: 600;
	src:local(※), url(../font/SUIT-SemiBold.woff2) format('woff2'),
    url(../font/SUIT-SemiBold.ttf) format('truetype');

}
@font-face {
	font-family: 'SUIT';
	font-weight: 700;
	src:local(※), url(../font/SUIT-Bold.woff2) format('woff2'),
    url(../font/SUIT-Bold.ttf) format('truetype');

}
@font-face {
	font-family: 'SUIT';
	font-weight: 800;
	src:local(※), url(../font/SUIT-ExtraBold.woff2) format('woff2'),
    url(../font/SUIT-ExtraBold.ttf) format('truetype');
}

@font-face {
	font-family: 'PPObjectSans';
	font-weight: 400;
	src:local(※), url(../font/PPObjectSans-Regular.woff) format('woff'),
    url(../font/PPObjectSans-Regular.otf) format('opentype');
}


@font-face {
	font-family: 'PPEditorialNew';
	font-weight: 400;
	src:local(※), url(../font/PPEditorialNew-Regular.woff) format('woff'),
    url(../font/PPEditorialNew-Regular.otf) format('opentype');
}
@font-face {
	font-family: 'PPEditorialNew';
	font-weight: 400;
    font-style: italic;
	src:local(※), url(../font/PPEditorialNew-Italic.woff) format('woff'),
    url(../font/PPEditorialNew-Italic.otf) format('opentype');
}