@font-face {
	font-family: 'TmoneyRoundWind';
	font-weight: 700;
	src:local(※), url(../../font/projects/sgisedu/TmoneyRoundWindExtraBold.woff2) format('woff2'),
    url(../../font/projects/sgisedu/TmoneyRoundWindExtraBold.ttf) format('truetype');
}
@font-face {
	font-family: 'esamanru';
	font-weight: 500;
	src:local(※), url(../../font/projects/sgisedu/esamanruOTFMedium.woff2) format('woff2'),
    url(../../font/projects/sgisedu/esamanruOTFMedium.otf) format('opentype');
}
@font-face {
	font-family: 'NotoSansKR';
	font-weight: 600;
	src:local(※), url(../../font/projects/sgisedu/NotoSansKR-Bold.woff2) format('woff2'),
    url(../../font/projects/sgisedu/NotoSansKR-Bold.otf) format('opentype');
}

:root{
    --pjt-color-point : #01BEA0;
    --pjt-color01: #3B7BDB;
    --pjt-color02: #1A272F;
    --pjt-color03: #002D8E;
    --pjt-color04: #171939;
    --pjt-font01 : 'TmoneyRoundWind', sans-serif;  
    --pjt-font02 : 'esamanru', sans-serif; 
    --pjt-font03 : 'NotoSansKR', sans-serif;
}



/* cover */
.cover{background: var(--pjt-color03); color:#fff; margin-bottom: 45vw;}
.micon{top:20%; right:-15%;}

/* intro */
.intro{background: url(../../images/projects/sgisedu/intro-1.png)no-repeat 50% / cover ,#09165C;}
.intro img{width: min(991px, 45%);}

/* about */
.aboutPjt{background:#fff; margin-top: 0;}
.aboutPjt i{color: var(--pjt-color03);}
.aboutPjt .pgroup{width: 40%;}
.aboutPjt .pgroup p:last-child{width: 87%;}

/* concept */
.viewPjt h3{font-size: max(2.6rem, 2.8645833333333335vw); font-weight: 600; text-align: center; margin-bottom: 8.40625vw; color:#fff;}

.concept01{background:var(--pjt-color04); color:#fff;}
.concept01>div{display: flex; justify-content: space-between; padding:0 8.75vw;}
.concept01 em{font-size: max(1.7rem, 1.875vw); margin-top: 5.125vw;}
.concept01 ul{display: inline-flex; gap: 0 4.166666666666667vw;}
.concept01 li span{display: flex; justify-content: center; align-items: center; width:13.125vw; height: 13.125vw; padding: 1.56vw; text-align: center; font-size: max(1.4rem, 1.1458333333333333vw); }
.concept01 .asis em, .concept01 .asis span{opacity: .5;}
.concept01 .asis li span{border: 1px solid rgba(256,256,256,0.3); border-radius: 20px;}
.concept01 .tobe li span{border-radius: 100%;}
.concept01 .tobe li span~span{margin-top: -2vw;}
.concept01 .tobe li:first-of-type span{background: var(--pjt-color-point);}
.concept01 .tobe li:nth-of-type(2) span{background: var(--pjt-color01);}
.concept01 .tobe li:nth-of-type(2) span~span{background: #3b7bdbe0;}
.concept01 .tobe li:nth-of-type(3) span{background: var(--pjt-color02);}
.concept01 .tobe li:last-of-type span{background: #fff; color:#181818;}
.concept01 .tobe li:last-of-type span~span{background: #ffffffe0;}
.concept01.actView {padding-top: 0;}
.concept01.actView i{display: block; width: 82.5vw; margin:-9.0625vw auto 9.0625vw auto; height: 2px;}

.concept02{background: var(--pjt-color04);}
.concept02 ul{display: flex; gap: 2.1875vw; padding: 0 4.21875vw; flex-wrap: wrap;}
.concept02 ul li{flex:1; background: #fff; border-radius: 20px;}
.concept02 div{margin-bottom: 2.0833333333333335vw;}
.concept02 div i{display: block; font-size: max(1.3rem, 0.8333333333333334vw); font-weight: 600; margin-bottom: 16px;}
.concept02 .type{position: relative; padding:2.0833333333333335vw 1.5625vw 1.5625vw; border-radius: 20px 20px 0 0;}
.concept02 .type::before{content:""; display: block; position: absolute; top: -4.5vw; left:0; width:8.333333333333334vw; height: 8.333333333333334vw; max-width:160px; max-height:160px; background: no-repeat 50%/ 100%;}
.concept02 .type span{display: block; font-size: max(1.5rem, 0.9375vw); text-align: right;}
.concept02 .type span b{font-weight: 700;}
.concept02 .type em{display: block; white-space: nowrap; font-size: max(1.6rem, 1.1979166666666667vw); text-align: center; font-weight: 700; margin-top:1vw;}
.concept02 div:not(.type){padding: 0 2.0833333333333335vw;}
.concept02 div:not(.type) span{display: flex; font-size: max(1.5rem, 0.9375vw); color:#5a5a5a;}
.concept02 div:not(.type) span::before{content:"·"; margin: 0 5px 0 3px; color:181818;}
.concept02 div:not(.type) span~span{margin-top: 7px;}
.concept02 .character{min-height: 7.5vw;}
.concept02 .mid{animation-delay: .2s !important;}
.concept02 .high{animation-delay: .4s !important;}
.concept02 .teacher{animation-delay: .6s !important;}
.concept02 .ele .type{background: #BCE5DF;}
.concept02 .ele .type::before{background-image: url(/resource/images/projects/sgisedu/img_concept02-1.png);}
.concept02 .mid .type{background: #BDD3F5;}
.concept02 .mid .type::before{background-image: url(/resource/images/projects/sgisedu/img_concept02-2.png);}
.concept02 .high .type{background: #CFE1EB;}
.concept02 .high .type::before{background-image: url(/resource/images/projects/sgisedu/img_concept02-3.png);}
.concept02 .teacher .type{background: #FAE8F9;}
.concept02 .teacher .type::before{background-image: url(/resource/images/projects/sgisedu/img_concept02-4.png);}
.concept02 .teacher .type em{font-size: max(1.5rem, 0.9635416666666666vw);}

.concept03{background:#101231;}
.concept03 figure{padding: 0 4.6875vw;}

.concept04{background: var(--pjt-color04); color:#fff; padding-bottom: 0;}
.concept04 ol{display: flex;}
.concept04 ol>li{flex: 1;width: 33.33%; padding: 9.0625vw 0;}
.concept04 ol>li~li{border-left: 1px solid rgba(0,0,0,0.4);}
.concept04 em{display: block; width: 100%; padding-left: 4.6875vw; font-size: max(1.8rem, 1.9791666666666667vw); font-weight: 600;}
.concept04 .exp{opacity: .6; width: 80%; min-height: 15vw; margin-top: 2.5vw; padding-right: 20px; padding-left: 4.6875vw;}
.concept04 ol>li:nth-of-type(2){animation-delay: .3s !important;}
.concept04 ol>li:last-of-type{animation-delay: .5s !important;}
.concept04 .lottieWrap{width: 90%;}


/* typography */
.typography{background: #E2E9ED; padding: 0;}
.typography ol{display: flex;}
.typography ol>li{flex:1; width:33.33%; padding: 9.0625vw 0;}
.typography ol>li~li{border-left: 1px solid rgba(0,0,0,0.2);}
.typography ul{border-top: none; padding-top: 0; width: 100%; padding-left: 4.6875vw; }
.typography .exp{opacity: .85; width: 80%; min-height: 15vw; padding-left: 4.6875vw;}
.typography .swiperTypo{padding-left: 25%; padding-top: 0; transition: .3s;}
.typography .swiper-slide{font-size: max(1.8rem, 7.03125vw);}
.typography ol>li:first-of-type ul li, .typography ol>li:first-of-type .swiper-slide{font-family: var(--pjt-font01);}
.typography ol>li:nth-of-type(2) ul li, .typography ol>li:nth-of-type(2) .swiper-slide{font-family: var(--pjt-font02); line-height: 1.37;}
.typography ol>li:last-of-type ul li, .typography ol>li:last-of-type .swiper-slide{font-family: var(--pjt-font03); line-height: 1.25;}
.typography ol>li:nth-of-type(2){animation-delay: .3s !important;}
.typography ol>li:last-of-type{animation-delay: .5s !important;}


/* viewPjt */
.viewPjt .expWrap .exp{margin: 0 auto;}
.viewPjt01{background: #F5F7FB;}
.viewPjt01 .expWrap{margin-top:4.84375vw;}

.viewPjt02{background: var(--pjt-color04);}
.viewPjt02 .expWrap{margin-top:7.84375vw;}
.viewPjt02 .expWrap .exp{color:#fff; width: 56%;}
.viewPjt02{position: relative;}
.viewPjt02::before{content:""; position: absolute; width: 100%; height: 90%; background: url(/resource/images/projects/macbook.png)no-repeat 50% 0 / min(2600px,72.15%);}
.viewPjt02 .swiper{padding-top: 3vw;}
.viewPjt02 .swiper-slide{width: min(1920px, 53.4%); padding: 0;}
.viewPjt02 .swiper-slide img{opacity: .5; transition-duration: .4s;}
.viewPjt02 .swiper-slide-active img{border-radius: 8px 8px 0 0; opacity: 1;}

.viewPjt03{background: #fff; padding-bottom: 10vw;}
.viewPjt03 .swiper-slide{background: #E8EEF3;}
.viewPjt03 .expWrap{margin-top:4.84375vw;}
.viewPjt03 .expWrap .exp{width: 56%;}
.viewPjt03 .swiper-slide{padding: 0;}
.viewPjt03 .swiper-slide img{box-shadow: none;}

.viewPjt04{background: #E2E9ED;}

.viewPjt05{background: #E2E9ED; padding-top: 0; padding-bottom: 15vw;}
.viewPjt05 .swiper-slide{background: var(--pjt-color04);}
.viewPjt05 .expWrap{margin-top:4.84375vw;}
.viewPjt05 .expWrap .exp{width: auto;}


@keyframes line {
    0% { width:0; }
    100% {width:82.5vw; }
  }



@media screen and (min-width:1024px) {
	/* Desktop */
}
@media screen and (min-width:768px) and (max-width: 1023px) {
	/* Tablet */
    .concept02 ul li{flex:calc(50% - 2.1875vw);}
}
@media screen and (max-width:767px){ 
	/* Mobile */

    .cover{margin-bottom: 0;}

    .intro img{width: 90%;}

    .aboutPjt .pgroup{width: 90%; margin: 0 auto;}
    .aboutPjt .pgroup p:last-child{width: 100%;}

    .concept01>div{flex-wrap: wrap; padding: 0 25px;}
    .concept01 em{width: 100%; margin-bottom: 20px;}
    .concept01 ul{flex-wrap: wrap; gap: 15px 0;}
    .concept01 li{width: 100%;}
    .concept01 li span{font-size: 1.4rem; width: 100%; min-height: 60px; padding: 0 20px;}
    .concept01 .asis li span{border-radius: 10px;}
    .concept01 .tobe li span{border-radius: 10px;}
    .concept01 .tobe li span~span{margin-top: -36px;}
    .concept01 .tobe li:nth-of-type(2) span~span{ background: var(--pjt-color01);}
    .concept01 .tobe li:nth-of-type(4) span~span{ background: #fff;}

    .concept02 ul{padding:0 25px; flex-direction: column; gap: 50px 0;}
    .concept02 ul li{border-radius: 10px;}
    .concept02 .type{padding: 20px; border-radius: 10px 10px 0 0;}
    .concept02 .type em{white-space: initial;}
    .concept02 .type::before{width: 90px; height: 90px; top:-40px; left:-5px;}
    .concept02 .teacher .type em{margin-top: 5px;}
    .concept02 div{margin-bottom: 25px;}
    .concept02 div i{margin-bottom: 10px;}
    .concept02 div:not(.type){padding: 0 20px;}
    .concept02 div:not(.type) span{font-size: 1.5rem;}

    .concept04{padding-bottom: 14.0625vw;}
    .concept04 ol{flex-direction: column; padding: 0 25px;}
    .concept04 ol>li{width: 100%;}
    .concept04 ol>li~li{border:none}
    .concept04 em{padding-left: 0;}
    .concept04 .exp{padding: 0; width:80%;}

    .typography{padding: 14.0625vw 0;}
    .typography ol{flex-direction: column;  padding: 0 25px;}
    .typography ol>li{width: 100%; padding: 0;}
    .typography ol>li~li{margin-top: 12vw; padding-top: 12vw; border-left: none; border-top:1px solid rgba(0,0,0,0.1)}
    .typography ul{padding-left: 0;}
    .typography .exp{width: 90%; margin-top: 2.5vw; padding-left: 0;}
    .typography .swiperTypo{padding-left: 0; margin-top: 26px;}
    .typography .swiper-wrapper{display: flex; justify-content: center;}
    .typography .swiper-wrapper .swiper-slide{margin-right: 0 !important;}

    .viewPjt01 .expWrap{margin-top: 8.958333333333334vw;}

    .viewPjt02 .expWrap{margin-top: 10.958333333333334vw; padding: 0 25px;}
    .viewPjt02::before{background-size: 82.15%;}
    .viewPjt02 .swiperImg .swiper-slide{width:60.8%;}
    .viewPjt02 .swiper-slide-active img{ border-radius: 5px 5px 0 0;}

    .viewPjt03 .expWrap{margin-top: 8.958333333333334vw; padding: 0 25px;}
    .viewPjt05 .expWrap{margin-top: 8.958333333333334vw; padding: 0 25px;}

    
} 